:root{
    --light-red             :hsl(0, 100%, 67%);
    --orange-yellow         :hsl(39, 100%, 56%);
    --green-teal            :hsl(166, 100%, 37%);
    --cobalt-blue           :hsl(234, 85%, 45%);

    --slate-blue-background :hsl(252, 100%, 67%);
    --royal-blue-background :hsl(241, 81%, 54%);

    --violet-blue-circle    :hsla(256, 72%, 46%, 1);
    --persian-blue-circle   :hsla(241, 72%, 46%, 0);

    --white                 :hsl(0, 0%, 100%);
    --pale-blue             :hsl(221, 100%, 96%);
    --light-lavender        :hsl(241, 100%, 89%);
    --dark-gray-blue        :hsl(224, 30%, 27%);

    --fs18                  :18px;
}
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
/* 500 700 800 */
body{
    font-family:'Hanken Grotesk', sans-serif;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
}
.card-left{
    position: relative;
    left: 25px;
    background-image: linear-gradient(to bottom , hsl(252, 100%, 67%) , hsl(241, 81%, 54%));
    height: 350px;
    border-radius: 20px;
    text-align: center;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-left-header{
    color: var(--pale-blue);
    font-weight: 500;
    font-size: 15px;
    margin: 25px 10px 25px 10px;
}
.card-left-feature{
    margin-left: 55px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom , hsla(256, 72%, 46%, 1) , hsla(241, 72%, 46%, 0));
}
.card-number{
    color: var(--white);
    font-size: 43px;
    font-weight: 800;
    position: relative;
    top: 30px;
}
.card-number-100{
    position: relative;
    top: 30px;
    color: var(--light-lavender);
    font-weight: 500;
    font-size: 12px;
}
.card-text-header{
    color: var(--white);
    font-weight: 500;
    font-size: 20px;
    margin: 20px 10px 10px 10px;
}
.card-text{
    color: var(--light-lavender);
    font-size: 12px;
    font-weight: 500;
    width: 180px;
    padding-left: 35px;
}
.card-right{
    border-radius: 20px;
    height: 350px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-right-header{
    color: var(--dark-gray-blue);
    font-weight: 800;
    font-size: 16px;
    margin: 25px 30px 40px 50px;
}
.card-right-body{
    margin-left: 30px;
    position: relative;
    bottom: 10px;
    left: 40px;
}
.card-feature{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 13px;
}
.red{
    color: var(--light-red);
}
.yellow{
    color: var(--orange-yellow);
}
.green{
    color: var(--green-teal);
}
.blue{
    color: var(--cobalt-blue);
}
img{
    position: relative;
    top: 3px;
    right: 10px;
    width: 15px;
}
.card-feature-number{
    font-size: 13px;
    font-weight: 800;
    color: var(--light-lavender);
    position: relative;
    left: 150px;
    bottom: 30px;
}
span{
    color: var(--dark-gray-blue);
    font-weight: 800;
}
.card-button{
    display: block;
    text-decoration: none;
    height: 45px;
    border-radius: 30px;
    width: 230px;
    background-color: var(--dark-gray-blue);
    position: relative;
    bottom: 0px;
    left: 50px;
}
.card-button:hover{
    background-color: var(--slate-blue-background);
}
.button{
    color: var(--pale-blue);
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    padding-top: 13px;
}
@media all and (max-width: 555px){
    .card-left-feature{
        position: relative;
        right: 10px;
        animation-name: example;
        animation-duration: 5s;
    }
    @keyframes example {
        0%   { right:0px; top:0px;}
        100% { right:10px; top:0px;}
        0%   { right:0px; top:0px;}
    }

    .card-feature-number{
        left: 130px;
    }
    .card-button{
        width: 210px;
    }
}
@media all and (max-width: 510px){
    .card-left-feature{
        position: relative;
        right: 20px;
        animation-name: example;
        animation-duration: 5s;
    }
    @keyframes example {
        0%   { right:0px; top:0px;}
        100% { right:20px; top:0px;}
        0%   { right:0px; top:0px;}
    }

    .card-feature-number{
        left: 110px;
    }
    .card-button{
        width: 190px;
    }
@media all and (max-width: 465px){
    .card-right{
        box-shadow: initial;
    }
    .card-left-feature{
        position: relative;
        right: 20px;
        animation-name: example;
        animation-duration: 5s;
    }
    @keyframes example {
        0%   { right:0px; top:0px;}
        100% { right:20px; top:0px;}
        0%   { right:0px; top:0px;}
    }
    .card-right-body{
        left: 30px;
    }
    .card-feature-number{
        left: 80px;
    }
    .card-button{
        width: 160px;
    }
}
@media all and (max-width: 375px){
    .card{
        flex-wrap: wrap;
    }
    .card-left{
        height: 280px;
        border-radius: 0px 0px 20px 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    .card-number{
        top: 25px;
    }
    .card-number-100{
        top: 25px;
    }
    .card-left-feature{
        left: 9px;
        height: 120px;
        width: 120px;
    }
    .card-text-header{
        margin: 7px 0 ;
    }
    .card-text{
        width: 223px;
        padding-left: 15px;
    }
    .card-right{
        border-radius: 0px 0px 20px 20px;
        width: 250px;
        position: relative;
        left: 25px;
        bottom: 130px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 0px -18px;
    }
    .card-right-header{
        margin: 35px 30px 30px 20px;
    }
    .card-right-body{
        left: 10px;
    }
    .card-feature-number{
        left: 130px;
    }
    .card-button{
        left: 25px;
        width: 200px;
    }}}